body {
    background-color: #ffe9f2;
}


#name h1 {
    text-align: center;
    color: rgb(0, 47, 29);
    font-family:'Inclusive Sans';
    font-size: 56px;
}

#sub_name h2 {
    text-align: center;
    font-family: "Inclusive Sans";
}

@font-face {
    font-family: "Inclusive Sans";
    src: url(../Inclusive_Sans/InclusiveSans-Regular.ttf);
}
